:root{
    --color-principal:#008000;
    --color-secundario: #352b2b;
}

.contenedor-general{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Contenido pestaña */
.contenedor-pestana{
    margin-left: 16rem;
}
.resultado-pestana{
    padding: 2rem;
}
.header{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--color-principal);
    color: white;
    height: 75px;
    vertical-align: middle;
}
.header h1{
    font-size: 31px;
    margin: 0;
}
.form-dropdowns{
    padding-bottom: 1rem;
}
.another-row{
    padding-top: 1rem;
}
.nombre-seleccion{
    margin: 1rem 0;
    font-size: 25px;
    color: var(--color-principal);
}
/* ------------------- */

/* Sidebar */
.contenedor-menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    width:16rem;
    padding:1rem 1rem;
    background-color: var(--color-secundario);
    color: white;
}
.nav-sidebar {
    color: white !important;
}
.nav-sidebar:hover {
    color: white !important;
    background-color: var(--color-principal) !important;
}
.kai5-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.kai5-header p{
    font-weight: 400;
    font-size: 1.5rem;
}

#grias-logo{
    height: 75px;
}

.nav-link.active{
    background-color: var(--color-principal) !important;
    color: white !important;
}
.tab a {
    color: var(--color-principal);
}
.tab a:hover{
    color: var(--color-principal);
}

.info-general{
    padding-bottom: 1rem;
}

.presentacion{
    margin: 2rem;
}
.presentacion h1{
    color : var(--color-secundario);
    margin-bottom: 1rem;
}

.link-ir{
    background-color: #f1f1f1;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    float: right;
    border-radius: 50%;
}
.link-ir:hover{
    background-color: #ddd;
}
